<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="CustomerFile">data/customers.txt</entry>
    <entry key="OrderFile">data/orders.txt</entry>
    <entry key="MenuItemFile">data/menuItems.txt</entry>
    <entry key="OrderItemFile">data/orderItems.txt</entry>
    <entry key="CustomerXMLFile">data/customersXML.xml</entry>

</properties>